

@model DemianCRUD.Models.Pessoa;
@{
    ViewData["Title"] = "Insira Uma Pessoa";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>



@*<form action="InsertPessoa" method="Post">
        <label for="Nome">Nome</label><br />
        <input placeholder="Escreva um nome" type="text" id="Nome" name="PrimeiroNome"><br /><br />

        <label for="Idade">Idade</label><br />
        <input placeholder="Escreva sua Idade" type="text" id="Idade" name="idade"><br /><br />

        <label for="Email">E-mail</label><br />
        <input placeholder="Escreva o e-mail" type="text" id="Email" name="e-mail"><br /><br />

        <label for="Endereco">Endereco</label><br />
        <input placeholder="Escreva seu endereço" type="text" id="Endereco" name="endereco"><br /><br />
        <input type="submit">

    </form>*@
@using (Html.BeginForm())
{


    @Html.LabelFor(model => model.nome)
    @Html.EditorFor(model => model.nome)
    <br />
    @Html.LabelFor(model => model.Cpf)
    @Html.EditorFor(model => model.Cpf)
    <br />
    @Html.LabelFor(model => model.email)
    @Html.EditorFor(model => model.email)
    <br />

    @Html.LabelFor(model => model.telefone)
    @Html.EditorFor(model => model.telefone)
    <br />

    @Html.LabelFor(model => model.habilitacao)
    @Html.EditorFor(model => model.habilitacao)
    <br />
    @*@if (Model != null && Model.telefone != "")*@

    @if (true)
    {
        @Html.LabelFor(model => model.categoria)
        @Html.EditorFor(model => model.categoria)
        <br />
    }

    @*@Html.LabelFor(model => model.listLinguaEstrangeira)
    @if (Model != null)
        {
            @Html.DropDownList("Testando",
          new SelectList(Model.listLinguaEstrangeira), "Selecione Lingua", "Text")
        }*@


    <br />

    @Html.LabelFor(model => model.estado)
    @Html.EditorFor(model => model.estado)
    <br />

    @Html.LabelFor(model => model.cidade)
    @Html.EditorFor(model => model.cidade)
    <br />

    @Html.LabelFor(model => model.cep)
    @Html.EditorFor(model => model.cep)
    <br />

    @Html.LabelFor(model => model.logadouro)
    @Html.EditorFor(model => model.logadouro)
    <br />
    @Html.LabelFor(model => model.numero)
    @Html.EditorFor(model => model.numero)

    <br />
    @Html.LabelFor(model => model.complemento)
    @Html.EditorFor(model => model.complemento)
    <br />

    @Html.LabelFor(model => model.cargo)
    @Html.EditorFor(model => model.cargo)
    <br />

    @Html.LabelFor(model => model.salarioProposto)
    @Html.EditorFor(model => model.salarioProposto)
    <br />


    <input type="submit" value="Inserir">

}



