

@model DemianCRUD.Models.Pessoa;
@{
    ViewData["Title"] = "Editar Uma Pessoa";
}
<h1>@ViewData["Title"]</h1>

<p>Preencha os campos.</p>


@using (Html.BeginForm())
{

    @Html.LabelFor(model => model.nome)
    @Html.EditorFor(model => model.nome)
    <br />
    @Html.LabelFor(model => model.Cpf)
    @Html.EditorFor(model => model.Cpf)
    <br />
    @Html.LabelFor(model => model.email)
    @Html.EditorFor(model => model.email)
    <br />

    @Html.LabelFor(model => model.telefone)
    @Html.EditorFor(model => model.telefone)
    <br />

    @Html.LabelFor(model => model.habilitacao)
    @Html.EditorFor(model => model.habilitacao)
    <br />

    @Html.LabelFor(model => model.categoria)
    @Html.EditorFor(model => model.categoria)
    <br />

    @Html.LabelFor(model => model.linguaEstrangeira)
    @Html.EditorFor(model => model.linguaEstrangeira)
    <br />

    @Html.LabelFor(model => model.estado)
    @Html.EditorFor(model => model.estado)
    <br />

    @Html.LabelFor(model => model.cidade)
    @Html.EditorFor(model => model.cidade)
    <br />

    @Html.LabelFor(model => model.cep)
    @Html.EditorFor(model => model.cep)
    <br />
    @Html.LabelFor(model => model.logadouro)
    @Html.EditorFor(model => model.logadouro)
    <br />
    @Html.LabelFor(model => model.numero)
    @Html.EditorFor(model => model.numero)
    <br />
    @Html.LabelFor(model => model.complemento)
    @Html.EditorFor(model => model.complemento)
    <br />
    @Html.LabelFor(model => model.cargo)
    @Html.EditorFor(model => model.cargo)
    <br />
    @Html.LabelFor(model => model.salarioProposto)
    @Html.EditorFor(model => model.salarioProposto)
    <br />
    @Html.Hidden("id", Model.id)
    <input type="submit" value="Atualizar">

    <input type="submit" value="Deletar" asp-area="" asp-controller="Home" asp-action="Delete">



}


